name: Build tests

on: [push, pull_request]

env:
  SELINUX_USERSPACE_VERSION: secilc-3.2
  TEST_TOOLCHAIN: /tmp/selinux
  TEST_TOOLCHAIN_SRC: /tmp/selinux-src

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install --no-install-recommends --no-install-suggests -qqy \
            bison \
            flex \
            libpcre3-dev \
            xmlto

      - name: Build toolchain
        run: |
          git clone https://github.com/SELinuxProject/selinux.git ${TEST_TOOLCHAIN_SRC} -b ${SELINUX_USERSPACE_VERSION}
          make DESTDIR=${TEST_TOOLCHAIN} -C ${TEST_TOOLCHAIN_SRC}/libsepol install
          make DESTDIR=${TEST_TOOLCHAIN} LIBSEPOLA=${TEST_TOOLCHAIN}/usr/lib/libsepol.a CFLAGS+="-I${TEST_TOOLCHAIN}/usr/include" LDFLAGS+="-L${TEST_TOOLCHAIN}/usr/lib" -C ${TEST_TOOLCHAIN_SRC}/libselinux install
          make DESTDIR=${TEST_TOOLCHAIN} LIBSEPOLA=${TEST_TOOLCHAIN}/usr/lib/libsepol.a CFLAGS+="-I${TEST_TOOLCHAIN}/usr/include" LDFLAGS+="-L${TEST_TOOLCHAIN}/usr/lib" -C ${TEST_TOOLCHAIN_SRC}/policycoreutils/setfiles install
          make DESTDIR=${TEST_TOOLCHAIN} LIBSEPOLA=${TEST_TOOLCHAIN}/usr/lib/libsepol.a CFLAGS+="-I${TEST_TOOLCHAIN}/usr/include" LDFLAGS+="-L${TEST_TOOLCHAIN}/usr/lib" -C ${TEST_TOOLCHAIN_SRC}/secilc install

      - name: Build dssp5-monolithic
        run: LD_LIBRARY_PATH="${TEST_TOOLCHAIN}/lib:${TEST_TOOLCHAIN}/usr/lib" PATH="$PATH:${TEST_TOOLCHAIN}/usr/bin:${TEST_TOOLCHAIN}/sbin" make MCS=false SELINUXTYPE=dssp5-monolithic VERBOSE=true

      - name: Build dssp5-monolithic-mcs
        run: LD_LIBRARY_PATH="${TEST_TOOLCHAIN}/lib:${TEST_TOOLCHAIN}/usr/lib" PATH="$PATH:${TEST_TOOLCHAIN}/usr/bin:${TEST_TOOLCHAIN}/sbin" make MCS=true SELINUXTYPE=dssp5-monolithic-mcs VERBOSE=true
